.language-id {
  display: none;
}
.shiki span,
.shiki pre {
  color: var(--shiki-dark);
}
.light .shiki span,
.light .shiki pre {
  color: var(--shiki-light);
}

.language-mermaid {
  display: flex;
  justify-content: center;
}

.column p {
  margin-bottom: 0.75rem;
}

.column blockquote {
  border-left: 4px solid var(--hint);
  padding-left: 1rem;
  margin: 0.5rem 0;
  color: var(--dim-text);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
