p {
  margin-bottom: 0.75rem;
}
.light .dark-theme {
  display: none;
}
.dark-theme {
  display: block;
}
.light-theme {
  display: none;
}
.light .light-theme {
  display: block;
}

.language-mermaid {
  display: flex;
  justify-content: center;
}
blockquote {
  border-left: 4px solid var(--hint);
  padding-left: 1rem;
  margin: 0.5rem 0;
  color: var(--dim-text);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
