#c {
  position: fixed;
  background: #263238;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.button {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 4rem;
  text-align: center;
  transform: translate(-50%, 0%);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mouse {
  width: 26px;
  height: 40px;
  position: relative;
  right: 0;
  border-radius: 18px;
  border: 2px solid #ffffff;
}
.mouse-button {
  background-color: #ffffff;
  width: 4px;
  height: 10px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  transform: translate(0, -4px) scale(1, 1);
  animation: mouse-scroll 1s infinite alternate;
}

@keyframes mouse-scroll {
  to {
    transform: translate(0, 0px) scale(1, 0.8);
  }
}
body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 1.5em;
}
section {
  padding: 1em 5em;
  margin: 0 130px;
}
section > * {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#about,
#fun,
#work {
  background: #263238;
  color: white;
}
#top {
  height: calc(100vh - 130px);
  padding: 0;
  position: relative;
}
h1 {
  font-family: "Fira Code", "Courier New", Courier, monospace;
  font-size: 3em;
}

.social {
  text-align: center;
  padding: 2rem 1rem;
}
.social a {
  display: inline-block;
  vertical-align: middle;
  margin: 0.5rem;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
body {
  margin: 0;
}
.grid {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 500px) {
  .grid {
    flex-direction: column;
  }
}
.item {
  position: relative;
  flex: 33%;
  min-width: 100px;
}
.item img {
  width: 100%;
}
.item div {
  border-radius: 0.25rem;
  position: absolute;
  width: 75%;
  padding: 1em;
  opacity: 0;
  transition: opacity 0.5s;
  background: white;
  text-align: center;
  color: #263238;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.item h2 {
  margin-top: 0;
}
.item p {
  font-size: 15px;
}
.item:hover div {
  opacity: 1;
}
a {
  color: #82aaff;
}
#scroller {
  width: 100vw;
  height: calc(100vh - 130px);
  overflow: scroll;
  scroll-behavior: smooth;
}
.hr {
  background: #eeffff;
  left: 0;
  width: 100vw;
  height: 2px;
  pointer-events: none;
}
.vr {
  background: #eeffff;
  position: fixed;
  top: 0px;
  width: 2px;
  height: 100vh;
  pointer-events: none;
}
.vr1 {
  left: 128px;
}
.vr2 {
  right: 128px;
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 128px;
  border-bottom: 2px solid #eeffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo-placeholder {
  width: 80px;
  height: 80px;
  margin: 24px;
}
#logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #eeffff;
}
#logo > h1 {
  margin: 0 24px;
  font-size: 36px;
}
.links {
  display: flex;
  margin-right: 130px;
  counter-reset: item;
}
.links li {
  list-style-type: decimal-leading-zero;
  margin-right: 32px;
  font-size: 16px;
  margin-left: 8px;
}
.links li::marker {
  color: #82aaff;
}

.links a {
  text-decoration: none;
  font-family: "Fira Code", "Courier New", Courier, monospace;
  color: #eeffff;
}
