:root {
  --accent: #82aaff;
  --nav: 96px;
  --base: #fff;
}
.light {
  --accent: #7c4dff;
  --base: #000;
}
#c {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 64px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--base);
}
body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 1.5em;
}
body.light {
  color: black;
}
section {
  margin: 0 auto;
  padding: 0 10vw;
  max-width: 900px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
hr {
  width: 100%;
  border-color: var(--base);
}
#top {
  max-width: unset;
  padding: 0;
  padding-bottom: var(--nav);
  height: calc(100% - var(--nav));
  position: relative;
  align-items: center;
}
.purple {
  color: #5c78c7;
  mix-blend-mode: screen;
}
.light .purple {
  color: #83b200;
  mix-blend-mode: difference;
}
.header {
  padding: 5vw;
  width: max-content;
}
.header h1 {
  margin: 0;
  font-size: min(8vw, 15vh);
  display: block;
  width: max-content;
}
.header h1:nth-child(2) {
  margin-left: min(17vw, 31vh);
}
h1 {
  font-family: "Fira Code", "Courier New", Courier, monospace;
  font-size: 3em;
}
#about h1, #work h1, #fun h1 {
  margin: 0;
}
.social {
  text-align: center;
  padding: 2rem 1rem;
}
.social a {
  display: inline-block;
  vertical-align: middle;
  margin: 0.5rem;
  color: var(--base);
  text-decoration: none;
}
.light .social a {
  color: black;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: var(--nav) minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);
  height: 100vh;
  width: 100vw;
}
.grid {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 800px) {
  .grid {
    flex-direction: column;
  }
}
.item {
  position: relative;
  flex: 33%;
  min-width: 100px;
}
.item img {
  width: 100%;
}
.item div {
  border-radius: 1rem;
  position: absolute;
  width: 75%;
  padding: 1em;
  opacity: 0;
  transition: opacity 0.5s;
  background: #263238;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #eee;
}
.light .item div {
  background: white;
}
.item h2 {
  margin-top: 0;
}
.item p {
  font-size: 15px;
}
.item:hover div {
  opacity: 1;
}
a {
  color: var(--accent);
}
#scroller {
  overflow: overlay;
  scroll-behavior: smooth;
  height: 100%;
}
::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(90, 90, 90, 0.9);
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo-placeholder {
  width: 80px;
  height: 80px;
  margin: 24px;
}
#logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.links {
  display: flex;
  counter-reset: item;
}
.links li {
  list-style-type: decimal-leading-zero;
  margin-right: 32px;
  font-size: 16px;
  margin-left: 8px;
}
.links li::marker {
  color: var(--accent);
}
.links a {
  text-decoration: none;
  font-family: "Fira Code", "Courier New", Courier, monospace;
  color: var(--base);
}

@media screen and (max-width: 850px) {
  #logo-placeholder {
    width: 64px;
    height: 64px;
    margin: 12px;
  }
  :root {
    --nav: 88px;
  }
  .links {
    margin-right: 0;
  }
}
