/** CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/** End CSS reset */

:root {
  --accent: #82aaff;
  --nav: 81px;
  --base: #fff;
  --background: #000;
  --hint: #444;
  --logo: url(/images/logo.png);
  --dim-text: #ccc;
}
.light {
  --accent: #7c4dff;
  --base: #222;
  --background: #fff;
  --hint: #ccc;
  --dim-text: #666;
  --logo: url(/images/logo-light.png);
}

body {
  font-family: "Source Sans 3", sans-serif;
  color: var(--base);
  font-size: 1.5em;
  display: flex;
  background: var(--background);
}
section,
.column {
  margin: 0em auto;
  padding: 4em 10vw;
  max-width: calc(900px + 20vw);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
hr {
  width: 100%;
  border: hidden;
  border-bottom: 1px solid;
  border-color: var(--hint);
}
h2 {
  margin-bottom: 1.5rem;
}
a {
  color: var(--accent);
}
#c {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--background);
}
nav {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--hint);
}
#logo-placeholder {
  width: 64px;
  height: 64px;
  margin: 8px;
}
#logo-img {
  width: 64px;
  height: 64px;
  margin: 8px;
  background-image: var(--logo);
  background-size: contain;
}

#logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.links {
  display: flex;
  counter-reset: item;
}
.links li {
  list-style-type: decimal-leading-zero;
  margin-right: 32px;
  font-size: 16px;
  margin-left: 8px;
}
.links li::marker {
  color: var(--accent);
}
.links a {
  text-decoration: none;
  font-family: "Jetbrains Mono", "Courier New", Courier, monospace;
  color: var(--base);
}
@media screen and (max-width: 850px) {
  .links {
    margin-right: 0;
  }
}

#app {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: var(--nav) minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);
  height: 100vh;
  width: 100vw;
}

#scroller {
  overflow: overlay;
  scroll-behavior: smooth;
  height: 100%;
}
::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(90, 90, 90, 0.9);
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
